body {
  background: #c3cfe2;
  margin: 40px;
}

header {
  background: white;
  padding: 1em;
}

.picca {
  border-radius: 50%;
  border-color: white;
  border-style: solid;
  border-width: 4px;
  width: 10%;
}

footer {
  background: #686de0;
  color: white;
  text-align: center;
  padding-bottom: 1em;
}
